In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =pd.read_excel('BookPri_Train.xlsx')

In [3]:
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [4]:
df.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

**There are no values in the data set and ready to explore**

In [5]:
df_test = pd.read_excel('BookPri_Test.xlsx')

In [6]:
df_test.head(5)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Complete Sherlock Holmes: 2 Boxes sets,Sir Arthur Conan Doyle,"Mass Market Paperback,– 1 Oct 1986",4.4 out of 5 stars,960 customer reviews,A collection of entire body of work of the She...,Short Stories (Books),"Crime, Thriller & Mystery"
1,Learn Docker - Fundamentals of Docker 18.x: Ev...,Gabriel N. Schenker,"Paperback,– Import, 26 Apr 2018",5.0 out of 5 stars,1 customer review,Enhance your software deployment workflow usin...,Operating Systems Textbooks,"Computing, Internet & Digital Media"
2,Big Girl,Danielle Steel,"Paperback,– 17 Mar 2011",5.0 out of 5 stars,4 customer reviews,"'Watch out, world. Here I come!'\nFor Victoria...",Romance (Books),Romance
3,Think Python: How to Think Like a Computer Sci...,Allen B. Downey,"Paperback,– 2016",4.1 out of 5 stars,11 customer reviews,"If you want to learn how to program, working w...",Programming & Software Development (Books),"Computing, Internet & Digital Media"
4,Oxford Word Skills: Advanced - Idioms & Phrasa...,Redman Gairns,"Paperback,– 26 Dec 2011",4.4 out of 5 stars,9 customer reviews,"Learn and practise the verbs, prepositions and...",Linguistics (Books),"Language, Linguistics & Writing"

In [7]:
df_test.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
dtype: int64

**there are no null values in the test data**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   object
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 438.7+ KB

**There are 
7 categorical values and o
nly 1 numeric value**

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1560 non-null   object
 1   Author        1560 non-null   object
 2   Edition       1560 non-null   object
 3   Reviews       1560 non-null   object
 4   Ratings       1560 non-null   object
 5   Synopsis      1560 non-null   object
 6   Genre         1560 non-null   object
 7   BookCategory  1560 non-null   object
dtypes: object(8)
memory usage: 97.6+ KB

**In the test_df i.e., there are no numerical variables, there is only one categorical variable**

- So the numerical value have to predict.

In [10]:
df.describe()

              Price
count   6237.000000
mean     560.707516
std      690.110657
min       25.000000
25%      249.180000
50%      373.000000
75%      599.000000
max    14100.000000

In [11]:
df.shape

(6237, 9)

In [12]:
df_test.shape

(1560, 8)

In [13]:
df['Reviews'].head()

0    4.0 out of 5 stars
1    3.9 out of 5 stars
2    4.8 out of 5 stars
3    4.1 out of 5 stars
4    5.0 out of 5 stars
Name: Reviews, dtype: object

In [14]:
df["Ratings"].head()

0     8 customer reviews
1    14 customer reviews
2     6 customer reviews
3    13 customer reviews
4      1 customer review
Name: Ratings, dtype: object

In [15]:
df['Reviews'] = df.Reviews.apply(lambda r:float(r.split()[0]))

In [16]:
df['Reviews'].head()

0    4.0
1    3.9
2    4.8
3    4.1
4    5.0
Name: Reviews, dtype: float64

In [17]:
df['Ratings'] = df.Ratings.str.extract('(\d+)')

In [18]:
df['Ratings'].head()

0     8
1    14
2     6
3    13
4     1
Name: Ratings, dtype: object

In [19]:
df['Ratings']=df.Ratings.astype(float)

In [20]:
df['Ratings'].head()

0     8.0
1    14.0
2     6.0
3    13.0
4     1.0
Name: Ratings, dtype: float64

In [21]:
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   float64
 4   Ratings       6237 non-null   float64
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(3), object(6)
memory usage: 438.7+ KB

**here now can see three numerical values, and remainig are categorical variables**

In [23]:
# let convert  Reviewes, Ratings into numerical variables.

df_test['Reviews'].head()

0    4.4 out of 5 stars
1    5.0 out of 5 stars
2    5.0 out of 5 stars
3    4.1 out of 5 stars
4    4.4 out of 5 stars
Name: Reviews, dtype: object

In [24]:
df_test['Ratings'].head()

0    960 customer reviews
1       1 customer review
2      4 customer reviews
3     11 customer reviews
4      9 customer reviews
Name: Ratings, dtype: object

In [25]:
df_test['Reviews'] = df_test.Reviews.apply(lambda r:float(r.split()[0]))

In [26]:
df_test['Reviews'].head()

0    4.4
1    5.0
2    5.0
3    4.1
4    4.4
Name: Reviews, dtype: float64

In [27]:
df_test['Ratings'].head()

0    960 customer reviews
1       1 customer review
2      4 customer reviews
3     11 customer reviews
4      9 customer reviews
Name: Ratings, dtype: object

In [29]:
df_test['Ratings'] = df_test.Ratings.str.extract('(\d+)')

In [30]:
df_test['Ratings'].head()

0    960
1      1
2      4
3     11
4      9
Name: Ratings, dtype: object

In [31]:
df_test['Ratings']=df_test.Ratings.astype(float)

In [32]:
df_test['Ratings'].head()

0    960.0
1      1.0
2      4.0
3     11.0
4      9.0
Name: Ratings, dtype: float64

**Till now Ratings and Reviews variables in both train and test data set converted into the numerical variables as Ratings and reviews would not in the striing type.**

In [34]:
categorical = df.select_dtypes(include=['object','category']).columns.tolist()

In [35]:
print(categorical)

['Title', 'Author', 'Edition', 'Synopsis', 'Genre', 'BookCategory']

In [36]:
numerical = df.select_dtypes(include=['int64','float64']).columns.tolist()

In [37]:
print(numerical)

['Reviews', 'Ratings', 'Price']

**Awesome**

In [39]:
object_nunique = list(map(lambda col: df[col].nunique(),categorical))
d= dict(zip(categorical,object_nunique))

In [40]:
d=dict(zip(categorical,object_nunique))

In [41]:
sorted(d.items(), key=lambda x: x[1])

[('BookCategory', 11),
 ('Genre', 345),
 ('Edition', 3370),
 ('Author', 3679),
 ('Synopsis', 5549),
 ('Title', 5568)]